@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    transition: ease all 0.5s;
    font-family: Raleway;
    color: #777;
}

html{
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(0,0,0,0.5);
    background-image: url("../images/header_image.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.nav li{
    display: inline;
    padding: 0 5%;
}
.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover{
    background-color: rgba(255,255,255, 0.3);
}

.store-name{
    text-align: center;
    font-size: 4em;
    color: white;
}

.content-section{
    margin: 1em;
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5em;
}


a{
    transition: all .3s ease-in-out;
}


.categories-section{
    text-align: center;
}


.featured-section{
    text-align: center;
}


.categories-button{
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 10px;
}

.categories-button img {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    border-radius: 10px;
}

.categories-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 23px;
}


.products-section{
    text-align: center;
}

.product{
    display: inline-block;
    position:relative;
    width: 300px;
    margin: 1em;
    padding: 1em;
}
.product img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: contain;
}

footer{
    text-align: center;
    background-color: #333;
    color: white;
    padding: 0.6em;
}

.profile-section{
    text-align: center;
}

.profile-button{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 10px;
    border: 1px solid #777;
    margin: 14px;
    padding: 10px;
}

.profile-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.profile-button img {
    width: 100%;
    height: 100%;
}

